@import "reset.scss";
@import "mixins.scss";


.container {
  max-width: 100%;
  margin: auto;
  box-sizing: border-box;
  background-color: #EEEEEF;
}

.header {
  @include flex;
  width: 100%;
  position: fixed;
  background-color: #10BBD5;
  top: 0;
  z-index: 10;

  .header-top {
    @include flex(row, space-between);
    padding: 16px 52px;


    .header-top__logo {
      @include text-setting(#F8FDFE, 1.5, 700);
      @include flex(row, normal);
      @include center;

      .header-top__logo-img {
        width: 26px;
        height: 28px;
      }
    }

    .header-top__cart {
      @include flex(row, normal, 8);
      @include center;

      .header-top__cart-price {
        @include text-setting(#F8FDFE);
      }

      .header-top__cart-icon {
        @include text-setting(black, 0.75, 400, 0.6);
        background-image: url("/images/icon/cart_icon.png");
        height: 40px;
        width: 40px;
        background-size: 40px;
        background-color: #10BBD5;
        background-repeat: no-repeat;
        padding-left: 13px;
        padding-bottom: 6px;
      }
    }
  }

  .header-nav {
    padding: 4px 52px;
    background-color: #fff;
    @include flex(row, space-between);

    .header-nav__item {
      @include text-setting;
    }

    .header-nav__menu {
      @include flex(row, normal, 40);

      .header-nav__menu-item {
        @include text-setting;

      }
    }
  }
}

.main {
  padding: 132px 56px 120px;

  .main__title {
    @include text-setting(#1F1F1F, 2, 600, 2.5);
    margin-bottom: 23px;
  }

  .product-list {
    display: grid;
    width: 1296px;
    grid-template-columns: repeat(4, 306px);
    grid-template-rows: repeat(3, 512px);
    grid-column-gap: 24px;
    grid-row-gap: 32px;
    border-top: 1px solid #A8A8A8;
    padding-top: 24px;

    .product-list__card {
      @include flex;
      box-sizing: border-box;
      padding: 32px;
      border: 1px solid #A8A8A8;
      background-color: #FFFFFF;
      position: relative;
      width: 100%;
      height: 100%;

      .product-list__card__book-img {
        width: 178px;
        height: 280px;
        margin-left: 32px;
      }

      .product-list__card__book-name {
        @include text-setting(#1F1F1F, 1.25, 700, 1.75);
        @include text_hidden;
        margin-top: 16px;
      }

      .product-list__card__book-author {
        @include text_hidden;
        @include text-setting(#8E8E8E);
        border-top: 1px solid #A8A8A8;
      }

      .product-list__card__price {
        @include text-setting(#E90000, 1.5, 500, 1.2);
        margin-top: 8px;

        .product-list__card__old-price {
          @include text-setting(#8E8E8E, 1, 500, 1);
          text-decoration: 1px line-through;
          margin-left: 18px;
        }
      }

      .product-list__card__add-btn {
        @include text-setting(#F8FDFE);
        @include card_btn(#4C394E, #744978);
      }

      .product-list__card__end-up-btn {
        @include text-setting(#F8FDFE);
        @include card_btn(#4D762D, #6DB236);
      }

      .product-list__card__mark {
        @include flex(row, normal, 4);
        position: absolute;

        .mark_hit {
          @include text-setting(#F8FDFE);
          @include marc(#4200FF);
        }

        .mark_new {
          @include text-setting(#F8FDFE);
          @include marc(#AF39E7);
        }

        .mark_sale {
          @include text-setting(#F8FDFE);
          @include marc(#EA33C0);
        }
      }
    }
  }

  .main__chat {
    width: 64px;
    height: 64px;
    background-color: #10BBD5;
    border-radius: 50%;
    background-image: url("/images/icon/chat_icon.png");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s;
    position: fixed;
    bottom: 20%;
    right: 5%;
    z-index: 10;

    &:hover {
      background-image: url("/images/icon/chat_icon_hvr.png");
      transform: rotate(12.05deg);
      background-size: 60px;
    }
  }
}

.footer {
  @include flex(row, space-between);
  padding: 32px 52px;
  background-color: #4C394E;

  .footer__copyright {
    @include text-setting(#F8FDFE);

    &:before {
      content: '© ';
    }
  }

  .footer__all-rig-res {
    @include text-setting(#F8FDFE);
  }
}