@mixin flex ($direction: column, $justify: normal, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  gap: $gap+px;
}

@mixin text-setting ($clr: black, $fnt-s: 1, $fnt-w: 400, $line-h: 1.5) {
  color: $clr;
  font-family: "Cabin", serif;
  font-size: $fnt-s+em;
  font-style: normal;
  font-weight: $fnt-w;
  line-height: $line-h+em;
}

@mixin center {
  align-items: center;
  align-content: center;
  align-self: center;
}

@mixin text_hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin card_btn ($background, $background_hover) {
  border-radius: 4px;
  background-color: $background;
  padding: 8px 24px;
  margin-top: 16px;
  transition: 0.5s;
  &:hover {
    background-color: $background_hover;
  }
}

@mixin marc ($background) {
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
  align-content: center;
  background-color: $background;
}